In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
df = pd.read_csv('data/houses.txt',header=None,names = ['size(sqft)','bedrooms','floors','age','Price (1000s dollars)'])
df

    size(sqft)  bedrooms  floors   age  Price (1000s dollars)
0        952.0       2.0     1.0  65.0                  271.5
1       1244.0       3.0     1.0  64.0                  300.0
2       1947.0       3.0     2.0  17.0                  509.8
3       1725.0       3.0     2.0  42.0                  394.0
4       1959.0       3.0     2.0  15.0                  540.0
..         ...       ...     ...   ...                    ...
95      1224.0       2.0     2.0  12.0                  329.0
96      1432.0       2.0     1.0  43.0                  388.0
97      1660.0       3.0     2.0  19.0                  390.0
98      1212.0       3.0     1.0  20.0                  356.0
99      1050.0       2.0     1.0  65.0                  257.8

[100 rows x 5 columns]